<p style="color: green"><%= notice %></p>

<div class="card">
  <div class="card-header">
    <h1>Topup Detail</h1>
  </div>
  <div class="card-body">

    <p>
      <strong>Amount:</strong>
      <%= @topup.amount %>
    </p>

    <p>
      <strong>Sender:</strong>
      <%= @topup.stock.code %>
    </p>

    <p>
      <strong>Receiver:</strong>
      <%= "#{@topup.account.number} - #{@topup.account.customer.full_name}" %>
    </p>

    <div>
      <span><%= link_to "Back", topups_path, class: 'btn btn-outline-primary btn-sm' %></span>
    </div>
  </div>
</div>
