<p style="color: green"><%= notice %></p>

<div class="card">
  <div class="card-header">
    <h1>Transfer Detail</h1>
  </div>
  <div class="card-body">

    <p>
      <strong>Amount:</strong>
      <%= @transfer.amount %>
    </p>

    <p>
      <strong>Sender:</strong>
      <%= "#{@transfer.sender.number} - #{@transfer.sender.customer.full_name}" %>
    </p>

    <p>
      <strong>Receiver:</strong>
      <%= "#{@transfer.receiver.number} - #{@transfer.receiver.customer.full_name}" %>
    </p>

    <div>
      <span><%= link_to "Back", transfers_path, class: 'btn btn-outline-primary btn-sm' %></span>
    </div>
  </div>
</div>
