<%= form_with(model: account) do |form| %>
  <% if account.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
        <% account.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <div class="col-4 form-group mb-3">
      <%= form.label :customer_id, style: "display: block" %>
      <%= form.select(:customer_id, options_for_select(Customer.pluck(:full_name, :id)), {}, { class: "form form-group form-select" }) %>
    </div>
    <div class="col-4 form-group mb-4">
      <%= form.label :number, style: "display: block" %>
      <%= form.text_field :number, class: 'form-control' %>
    </div>
    <div>
      <%= link_to "Back", accounts_path, class: 'btn btn-outline-primary btn-sm' %>
      <%= form.submit 'Save', class: 'btn btn-primary btn-sm' %>
    </div>
  </div>
<% end %>
